.input-form form input{
	width: 40%;
	height: 30px;
	margin: 2rem auto;
	border: 2px solid #E74C3C;
	padding: 2rem;

	label{
		display: block;
		}

	input,textarea{

		display:block;
		width: 75%;
	}

	input[type=submit] {
  width: 50%;
  margin-left: 25%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
	




}